h1 {
    text-align: center;

}

body {
    background-color: lightgray ;

}

.tarjeta_ {
    margin: 0 auto;
    background-color: rgb(253, 236, 153);
    width: 900px;
    border-style: solid;
    border-width: 2px;
    padding: 0 50px 50px 50px;
    height: 80vh;
    
}

.contenedor_lista {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.imgs {
    width: 200px; /* Ajusta el tamaño de la imagen */
    margin: 15px;
    height: 200px;
}


.pie_pagina {
    display: flex;
    background-color: lightblue;
    width: 900px;
    margin: 0 0;
    position: absolute;
    bottom: 0;
    font-size: small;
    border-style: solid;
    border-width: 2px;
    justify-content: center;
    padding: 0 0 50px 0px;
    height: min-content;
    
}

.pie_pagina h2 {
    align-items: center;
}

body, html {        /* Establece el tamaño de la página con escala 1:1 , es decir a ocupar toda la pantalla*/
    margin: 0;      /* En conjunto con el tamaño de la Clase="tarjeta" */
    padding: 0;
}

hr {
    border: 2px solid black;
    margin-top: 15px;
    width: 900px;
}

header {
    margin: auto;
    width: 1000px;
    background: rgb(247, 189, 103);
    color: azure;
    display: flex;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-bottom-width: 0px;
    justify-content: space-between;
    align-items: end;

}

.logo {
    margin-left: 2%;
    margin-top: 1%;
}

.div_header {
    margin-right: 2%;
    margin-bottom: 1%;
    display: flex;
}

* {
    margin: 0;
}

footer {
    text-align: center;
    bottom: 0;
    width: 100%;
    position: fixed;
    align-items: center;
}